.*.swp
.vagrant
el6
el7
tmp
src/BUILD
src/BUILDROOT
src/RPMS
src/SPECS/hootenanny.spec
src/SRPMS
src/SOURCES/hoot*.tar.gz
src/SOURCES/hoot*.war
src/SOURCES/words1.sqlite
el6-src/jdk-8*
el7-src/jdk-8*
**VagrantfileLocal
