---
versions:
  glpk: &glpk_version '4.65-1'
  hoot-words: &words_version '1.0.1-1'
  lcov: &lcov_version '1.15-1'
  liboauthcpp: &liboauthcpp_version '0.1.0-1'
  libphonenumber: &libphonenumber_version '8.12.27-1'
  libpostal: &libpostal_version '1.0.0-1'
  mocha: &mocha_version '3.5.3'
  nodejs: &nodejs_version '14.16.1-2'
  postgresql: &pg_version '13'
  stxxl: &stxxl_version '1.3.1-1'
  hoot-translations-templates: &hoot_translations_templates_version '1.0.0-1'
  su-exec: &suexec_version '0.2-1'
  tomcat8: &tomcat8_version '8.5.75-1'
  v8_version: &v8_version '8.4.371.19'
  wamerican-insane: &wamerican_version '7.1-1'


maven:
  cache_url: &maven_cache_url https://hoot-maven.s3.amazonaws.com/m2-cache-2021-07-12.tar.gz
  cache_sha1: &maven_cache_sha1 a98c09d93d4381d17ddbac45a7261da6af89b15e


rpmbuild:
  dist: &rpmbuild_dist .el7
  uid: &rpmbuild_uid 1000


images:
  base: !!omap
    - rpmbuild:
        args:
          rpmbuild_dist: *rpmbuild_dist
          rpmbuild_uid: *rpmbuild_uid
          rpmbuild_gid: *rpmbuild_uid
    - rpmbuild-base: {}
    - rpmbuild-generic: {}
    - rpmbuild-pgdg:
        args:
          pg_version: *pg_version
        tags: [*pg_version]
    - rpmbuild-hoot-release:
        args:
          mocha_version: *mocha_version
          nodejs_version: *nodejs_version
          pg_version: *pg_version
          v8_version: *v8_version
        buildrequires: true
        rpmbuild: true
        spec_file: SPECS/hootenanny.spec
    - rpmbuild-lint: {}
    - rpmbuild-repo: {}
    - rpmbuild-sonarqube: {}
    - rpmbuild-glpk:
        buildrequires: true
        dockerfile: docker/Dockerfile.rpmbuild-generic
    - rpmbuild-lcov:
        buildrequires: true
        dockerfile: docker/Dockerfile.rpmbuild-generic
    - rpmbuild-liboauthcpp:
        buildrequires: true
        dockerfile: docker/Dockerfile.rpmbuild-generic
    - rpmbuild-libphonenumber:
        buildrequires: true
    - rpmbuild-libpostal: {}
    - rpmbuild-nodejs:
        buildrequires: true
    - run-base:
        args:
          pg_version: *pg_version
    - run-base-release:
        args:
          mocha_version: *mocha_version
          nodejs_version: *nodejs_version

rpms:
  glpk:
    image: rpmbuild-glpk
    version: *glpk_version
  hoot-words:
    image: rpmbuild-generic
    version: *words_version
    arch: noarch
  hoot-translations-templates:
    image: rpmbuild-generic
    version: *hoot_translations_templates_version
    arch: noarch
  lcov:
    image: rpmbuild-lcov
    version: *lcov_version
  liboauthcpp:
    image: rpmbuild-liboauthcpp
    version: *liboauthcpp_version
  libphonenumber:
    image: rpmbuild-libphonenumber
    version: *libphonenumber_version
  libpostal:
    image: rpmbuild-libpostal
    version: *libpostal_version
  nodejs:
    image: rpmbuild-nodejs
    version: *nodejs_version
    defines:
      v8_version: *v8_version
  stxxl:
    image: rpmbuild-generic
    version: *stxxl_version
  su-exec:
    image: rpmbuild-generic
    version: *suexec_version
  tomcat8:
    image: rpmbuild-generic
    version: *tomcat8_version
    arch: noarch
  wamerican-insane:
    image: rpmbuild-generic
    version: *wamerican_version
    arch: noarch
