---
version: 2

jobs:
  lint:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/rpmbuild-lint@sha256:49adbc6c771c0e2cb14b302e4204cf7d3207f4ef7dee0ef12461ceaafff4725a
        user: rpmbuild
    steps:
      - checkout
      - run:
          name: 'Lint YAML and Scripts'
          command: |
            ./tests/lint-yaml.sh
            ./tests/lint-bash.sh
  rpmbuild-hoot-release:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools and Vagrant'
          command: |
            ./scripts/rpm-install.sh
            ./scripts/vagrant-install.sh
      - run:
          name: 'Validate Vagrantfile'
          command: |
            MAVEN_CACHE=0 vagrant validate
      - run:
          name: 'Building rpmbuild-hoot-release'
          command: |
            make rpmbuild-hoot-release
  master-rpm:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools'
          command: |
            ./scripts/rpm-install.sh
      - run:
          name: 'Compile Latest Develop RPM'
          command: |
            ./tests/create-rpm.sh
      - persist_to_workspace:
          root: el7
          paths:
            - "*.rpm"
  master-install:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/run-base-release@sha256:a4fba00ec4998948024e8b51e7da0d87ad197f4de0589ffb59f9293e0896bc38
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Installation'
          command: |
            ./tests/install-rpm.sh
  master-upgrade:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/run-base-release@sha256:a4fba00ec4998948024e8b51e7da0d87ad197f4de0589ffb59f9293e0896bc38
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Upgrade'
          command: |
            ./tests/upgrade-rpm.sh
  master-sync:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/rpmbuild-repo@sha256:317f1df99e5cacf0575644cad1956ddfcfc562c5198f1d8590afa5db33d7e057
        user: rpmbuild
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Update and Sync Develop Repository'
          command: |
            ./tests/update-sync-repo.sh

workflows:
  version: 2
  master-repo:
    jobs:
      - master-rpm
      - master-install:
          requires:
            - master-rpm
      - master-upgrade:
          requires:
            - master-rpm
      - master-sync:
          requires:
            - master-install
            - master-upgrade
    triggers:
      - schedule:
          cron: "0 12,20 * * *"
          filters:
            branches:
              only:
                - master
  tests:
    jobs:
      - lint
      - rpmbuild-hoot-release
