---
version: 2

jobs:
  lint:
    working_directory: /rpmbuild/hootenanny-rpms
    docker:
      - image: hootenanny/rpmbuild-lint@sha256:31678e77444090d0d2bdd6cfc3d19d957ffd3a494cfed05e005abb24adc8f2d6
        user: rpmbuild
    steps:
      - checkout
      - run:
          name: 'Lint YAML and Scripts'
          command: |
            ./tests/lint-yaml.sh
            ./tests/lint-bash.sh
  rpmbuild-hoot-release:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools and Vagrant'
          command: |
            ./scripts/rpm-install.sh
            ./scripts/vagrant-install.sh
      - run:
          name: 'Validate Vagrantfile'
          command: |
            MAVEN_CACHE=0 vagrant validate
      - run:
          name: 'Building rpmbuild-hoot-release'
          command: |
            make rpmbuild-hoot-release
  master-rpm:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools'
          command: |
            ./scripts/rpm-install.sh
      - run:
          name: 'Compile Latest Master RPM'
          command: |
            ./tests/create-rpm.sh
      - persist_to_workspace:
          root: el7
          paths:
            - "*.rpm"
  master-install:
    working_directory: /rpmbuild/hootenanny-rpms
    docker:
      - image: hootenanny/run-base-release@sha256:7da69a9b0fac75a56ee14020ae285376889dcf6349720ae0dbfb8ff05cdf39ae
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Installation'
          command: |
            ./tests/install-rpm.sh
  master-upgrade:
    working_directory: /rpmbuild/hootenanny-rpms
    docker:
      - image: hootenanny/run-base-release@sha256:7da69a9b0fac75a56ee14020ae285376889dcf6349720ae0dbfb8ff05cdf39ae
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Upgrade'
          command: |
            ./tests/upgrade-rpm.sh
  master-sync:
    working_directory: /rpmbuild/hootenanny-rpms
    docker:
      - image: hootenanny/rpmbuild-repo@sha256:31678e77444090d0d2bdd6cfc3d19d957ffd3a494cfed05e005abb24adc8f2d6
        user: rpmbuild
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Update and Sync Master Repository'
          command: |
            ./tests/update-sync-repo.sh

workflows:
  version: 2
  master-repo:
    jobs:
      - master-rpm
      - master-install: &master-install
          requires:
            - master-rpm
      - master-upgrade: &master-upgrade
          requires:
            - master-rpm
      - master-sync: &master-sync
          requires:
            - master-install
            - master-upgrade
    triggers:
      - schedule:
          cron: "0 8,17 * * *"
          filters: &filters-master
            branches:
              only:
                - master
  # Always run the RPM workflow on merges to master to take into account
  # any SPEC changes and to make it possible to force a RPM rebuild at
  # any time.
  master-rpm:
    jobs:
      - master-rpm:
          filters: *filters-master
      - master-install:
          <<: *master-install
          filters: *filters-master
      - master-upgrade:
          <<: *master-upgrade
          filters: *filters-master
      - master-sync:
          <<: *master-sync
          filters: *filters-master
  tests:
    jobs:
      - lint
      - rpmbuild-hoot-release
