---
version: 2

jobs:
  lint:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/rpmbuild-lint@sha256:1e39dea036ffe7bb43e3c2279d91ec473891fa55e7aad53a448e61b467d46e32
        user: rpmbuild
    steps:
      - checkout
      - run:
          name: 'Lint YAML and Scripts'
          command: |
            ./tests/lint-yaml.sh
            ./tests/lint-bash.sh
  rpmbuild-hoot-release:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools and Vagrant'
          command: |
            ./scripts/rpm-install.sh
            ./scripts/vagrant-install.sh
      - run:
          name: 'Validate Vagrantfile'
          command: |
            MAVEN_CACHE=0 vagrant validate
      - run:
          name: 'Building rpmbuild-hoot-release'
          command: |
            make rpmbuild-hoot-release
  develop-rpm:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: 'Install RPM Tools'
          command: |
            ./scripts/rpm-install.sh
      - run:
          name: 'Compile Latest Develop RPM'
          command: |
            ./tests/create-rpm.sh
      - persist_to_workspace:
          root: el7
          paths:
            - "*.rpm"
  develop-install:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/run-base-release@sha256:78dff0ce8834c8478aad2442907b59ea6a7d3327126498ead55b714e5a318c5f
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Installation'
          command: |
            ./tests/install-rpm.sh
  develop-upgrade:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/run-base-release@sha256:78dff0ce8834c8478aad2442907b59ea6a7d3327126498ead55b714e5a318c5f
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Test RPM Upgrade'
          command: |
            ./tests/upgrade-rpm.sh
  develop-sync:
    working_directory: '/rpmbuild/hootenanny-rpms'
    docker:
      - image: hootenanny/rpmbuild-repo@sha256:d312a17e5e4f885ae6c575efe05356a818737dda6d40ac5316ee633077a1cc23
        user: rpmbuild
    steps:
      - checkout
      - attach_workspace:
          at: el7
      - run:
          name: 'Update and Sync Develop Repository'
          command: |
            ./tests/update-sync-repo.sh

workflows:
  version: 2
  develop-repo:
    jobs:
      - develop-rpm
      - develop-install:
          requires:
            - develop-rpm
      - develop-upgrade:
          requires:
            - develop-rpm
      - develop-sync:
          requires:
            - develop-install
            - develop-upgrade
    triggers:
      - schedule:
          cron: "0 12,20 * * *"
          filters:
            branches:
              only:
                - develop
  tests:
    jobs:
      - lint
      - rpmbuild-hoot-release
